/*======== Variables CSS =======*/
:root {
  --header-height: 3rem;
  --font-regular: 400;
  --font-semi: 700;
  --font-bold: 900;
}
/*======== Colores =======*/
:root {
  --first-color: #ccdbdc;
  --blue-white: #9ad1d4;
  --color-blue-light: #80ced7;
  --color-blue: #007ea7;
  --color-blue-head: #003249;
}
/*======== Fuente y tipografia ========*/
:root {
  --body-font: 'Roboto', sans-serif;
  --big-font-size: 3rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.75rem;
}
/*========== Margenes ===========*/
:root {
  --mb-1: 0.5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
}
@media screen and (min-width: 768px) {
  :root {
    --big-font-size: 6rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.813rem;
  }
}

/* variables */
.light-theme {
  --color-background: #fff;
  --color-text: #000;
}

.dark-theme {
  --color-background: #000;
  --color-text: #fff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: var(--color-background);
  color: var(--color-text);
  margin: 0;
}

.container {
  max-width: 500px;
  margin: auto;
  text-align: center;
}

/* seccion 2 */
.products-ad {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  gap: 16px;
  margin-bottom: 2rem;
}

.products-ad__item {
  background-color: #f4f7f8;
  height: auto;
  text-align: center;
  font-size: 1.8rem;
  padding: 16px 0;
}

.products-ad__item:nth-child(2n + 1) {
  background-color: #9ad1d4;
}

.products-ad__item img {
  width: 100%;
  object-fit: contain;
  height: 280px;
}

/* special products */
.special-products {
  display: grid;
  grid-template-columns: repeat(8, 50%);
  gap: 16px;
  overflow: hidden;
  margin-bottom: 1rem;
}

.special-product img {
  width: 100%;
}

.text-green {
  color: green;
}

.text-red {
  color: tomato;
}

.section-title {
  margin-bottom: 1rem;
}

.scroll-button {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  border: 1px solid rgb(114, 114, 114);
  outline: none;
  margin-bottom: 2rem;
  position: relative;
  cursor: pointer;
}

.scroll-button::before {
  content: '';
  position: absolute;
  background-color: grey;
  width: 2rem;
  height: 1px;
  left: -2rem;
}

.scroll-button:last-child::before {
  left: auto;
  right: -2rem;
}

/* news */
.latest-news {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  gap: 16px;
}

.latest-news__item {
}

.latest-news__item img {
  width: 100%;
}

.brands {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
}

.brands img {
  width: 100%;
}

/* dfdf */
@media (min-width: 768px) {
  .container {
    max-width: 1000px;
  }

  .products-ad {
    grid-template-columns: repeat(3, 1fr);
  }

  .special-products {
    grid-template-columns: repeat(8, 25%);
  }

  .latest-news {
    grid-template-columns: repeat(3, 1fr);
  }

  .brands {
    grid-template-columns: repeat(5, 1fr);
  }
}

.l-header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: var(--color-blue-head);
}
/*======= NAV ==========*/
.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .nav__menu {
    position: fixed;
    top: var(--header-height);
    right: -100%;
    width: 80%;
    height: 100%;
    padding: 2rem;
    background-color: var(--color-blue-head);
    transition: 0.5s;
  }
}

.nav__item {
  margin-bottom: var(--mb-4);
}

.nav__link {
  color: var(--first-color);
  font-weight: var(--font-regular);
}

.nav__link:hover {
  color: var(--first-color);
}
.nav__logo {
  color: #ccdbdc;
  font-weight: var(--font-bold);
}

.nav__search {
  font-size: 1.5rem;
  margin-right: var(--mb-2);
}

.nav__user {
  font-size: 1.5rem;
  margin-right: var(--mb-2);
}

.nav__cart {
  font-size: 1.5rem;
  margin-right: var(--mb-2);
}

.nav__toggle {
  font-size: 1.5rem;
  cursor: pointer;
}
.nav__search,
.nav__user,
.nav__cart,
.nav__toggle {
  color: var(--first-color);
}

/*===== MOSTRAR MENU ====*/
.show {
  right: 0;
}

/*=========== MEDIA QUERIES ================*/
@media screen and (min-width: 768px) {
  body {
    margin: 0;
  }

  .nav {
    height: calc(var(--header-height) + 1rem);
    justify-content: initial;
  }

  .nav__menu {
    margin-left: auto;
  }

  .nav__list {
    display: flex;
  }

  .nav__item {
    margin-left: var(--mb-4);
    margin-bottom: 0;
  }

  .nav__toggle {
    display: none;
  }
}

/*============== HOME ===============*/
.home_img {
  width: 100%;
}
